@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.ant-layout-sider.ant-layout-sider-collapsed.cs.main .img-brand-2 {
  /* background-color: white; */
  display: block;
}
.ant-layout-sider.ant-layout-sider-collapsed.cs.main .img-brand-1 {
  /* background-color: white; */
  display: none;
}
.ant-layout-sider.cs.main .img-brand-2 {
  /* background-color: white; */
  display: none;
}

.cs.search .ant-input-group-addon {
  background-color: #219c90;
}

.styleTagPath {
  position: relative;
  z-index: 1;
}
.styleTagPath:hover {
  /* fill: rgba(0, 0, 0, 0.05); */
  fill: black !important;
  opacity: 0.2;
}
.styleTagText {
  user-select: none;
}

.table-list-kavling th {
  font-size: 10px !important;
}
.table-list-kavling tr td {
  font-size: 10px !important;
}
